<div class="wrapper" id="top">
    <div class="hero reveal active">
        <img src="https://denkenfeld.github.io/senior/00-herobild-alltagsbetreuung-balingen.jpg" alt="Hero" id="heroImg">
        <div class="hero-overlay">
            <img src="25-vk-logo1.png" alt="Vitakreis Logo" class="hero-logo">
            <a href="#kontakt" class="hero-badge">
                
                <i class="fa-solid fa-location-dot"></i>
                <span>Vitakreis - Balingen</span>
            </a>
            <h1>Gemeinsam.<br>Statt einsam.</h1>
            <p style="opacity: 0.9; margin-bottom: 20px; max-width: 400px;">Unterstützung und Begleitung mit Herz.</p>
            <a href="#investition" class="scroll-indicator"><i class="fa-solid fa-chevron-down"></i></a>
        </div>
    </div>

    <section class="artist-section reveal">
        <div class="artist-circle-wrapper" style="cursor: default;">
            <img src="https://denkenfeld.github.io/senior/01-kreis.jpg" class="artist-avatar" alt="Irene" style="object-position: top;">
        </div>
        <div class="artist-bubble">
            <div class="artist-name" style="color: #889e88;">Hi, ich bin Irene.</div>
            <h3 style="font-size: 1.5rem; margin-bottom: 15px;">Alltagsbegleiterin in Balingen</h3>
            <p style="color: #444; line-height: 1.6;">Ein würdevoller Alltag beginnt mit Vertrauen und einem guten Gespräch.<br> Gemeinsam auf den Balinger Wochenmarkt, Unterstützung als ‚digitale Patin‘ oder Hilfe im Alltag: <br> Ich begleite Sie gerne und freue mich auf unser Kennenlernen!</p>
        </div>
    </section>